<!DOCTYPE html>
<html>
<head>
  <title>Brands</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
  <%- include('./partials/navbar.ejs') %>
    <h1>Brands</h1>
    <div class="bg-success right">
        <button class="btn-success border-0" onclick="addBrand('http://localhost:3000/brands')">Add Brand</button>
      </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% brands.forEach(function(brand) { %>
      <tr>
        <td><%= brand.id %></td>
        <td><%= brand.name %></td>
        <td class="text-center">
            <button class="btn-sm btn-warning" onclick="editBrand('http://localhost:3000/brands', <%= brand.id %>)">Edit</button>
          <button class="btn-sm btn-danger" onclick="deleteBrand('http://localhost:3000/brands', <%= brand.id %>)">Delete</button>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <script src="../../javascripts/brands.js"></script>
</body>
</html>